<body>
<header>

<div> <!--Barra de navegacion -->
 	<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container-fluid">
    	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      	<a class="navbar-brand" href="#">Saving Eco</a>
    	</div>
    	<div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-left">
		      <li><a href="#about">About</a></li>
		      <li><a href="#about">Team</a></li>
		      <li><a href="#product">Products</a></li>
		      <li><a href="#">Community</a></li>
		      <li class="active"><a href="#contact">Contact</a></li>
    		</ul>
    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
	      <li><a href="#" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#ModalRegistration"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign up</a></li>
	      <li><a href="#" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
	  <% else %>
  <div class="dropdown">
  <button class="btn btn-success navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
    <img style="width: 30px" src="<%= current_user.avatar.url %>" />  - <%= current_user.username %>
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% if user_signed_in? %>
    <li><%= link_to "Ir a mi perfil", current_user %></li>
    <% end %>
    <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</div>      
    </ul>
  	</div>
	</nav>
</div> <!--End Barra de navegacion -->


<div id="myCarousel" class="carousel slide" data-ride="carousel"> <!-- Carousel-->
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>

    <div class="item">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>

    <div class="item">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>

    <div class="item">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>
  </div>

  <!-- Left and right controls -->
  <div></div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <i class="fa fa-c fa-4x fa-caret-square-o-left" aria-hidden="true"></i>
  </a>

  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  	<i class="fa fa-c fa-4x fa-caret-square-o-right" aria-hidden="true"></i>
	</a>
	</div>
</div><!-- End Carousel-->

</header> 

<section id="parallax1" data-speed="6" data-type="background"> <!--Parallax-->
    <div class="container">gsdgd</div>
</section> <!-- End Parallax-->

<!-- Product Section
==================================================================-->
<section id="product">

 <div class="row">
  <div class="col-sm-4"><img src="<%= image_path('purificador.jpg')%>" width="500" height="400" </div>
  <div class="col-sm-8">.col-sm-8</div>
</div>

  
</section> <!-- Product Section End -->

<section id="parallax2" data-speed="2" data-type="background"> <!--Parallax-->
    <div class="container"></div>
</section> <!-- End Parallax-->
	
	<!--Tecnic Section
===================================================================-->	
<section>

<p>Explicacion tecnica</p>
  
</section> <!-- Tecnic Section End -->

<section id="parallax3" data-speed="6" data-type="background"> <!--Parallax-->
    <div class="container"></div>
</section> <!-- End Parallax-->

  <!--Profits Section
===================================================================-->  
<section>

<div id="services" class="container-fluid text-center">
  <h2>BENEFICIOS FISICOS, PSICOLOGICOS Y SOCIALES </h2>
  <h4>Mucho mas que lo que esperabas</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class=" fa-4x fa fa-leaf" aria-hidden="true"></i>
      <h4>CONTRIBUYES AL MEDIO AMBIENTE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-4x fa fa-users" aria-hidden="true"></i>
      <h4>CONOCES GENTE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-4x fa fa-bicycle" aria-hidden="true"></i>
      <h4>HACES EJERCICIO</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class="fa-4x fa fa-heartbeat" aria-hidden="true"></i>
      <h4>FORTALECES TU CORAZON</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-4x fa fa-smile-o" aria-hidden="true"></i>
      <h4>TE DIVIERTES</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-4x fa fa-bed" aria-hidden="true"></i>
      <h4 style="color:#303030;">ASDFAS</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
  
</section> <!-- Profits Section End -->

<section id="parallax4" data-speed="6" data-type="background"> <!--Parallax-->
    <div class="container"></div>
</section> <!-- End Parallax-->

  <!--Community Section
===================================================================-->  
<section id="community">

<p>Comunidad</p>
  
</section> <!-- Community Section End -->

<!-- Contact Section
==================================================================-->

<section id="contact">
	<div class="container">
    <h1 class="text-center">Contact</h1>
    <h3 class="text-center text-muted">bla bla bla bla </h3>

    <div class="row">
      <div class="col-md-4">
        <h4>Datos de contacto</h4>
        <p><i class="fa fa-female" aria-hidden="true"></i> Julieth Cardona C.</p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i> 310 440 3341</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> juli-c.c@hotmail.es</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Medellín, Colombia</p>
      </div>

      <div class="col-md-8">
        <div class="row">
          <%= form_for @contact do |f| %>
          <div class="col-sm-6 form-group">
          	<%= f.label :name %>
          	<%= f.text_field :name %>
          </div>
  
          <div class="col-sm-6 form-group">
          	<%= f.label :email %>
          	<%= f.text_field :email %>
          </div>



          <div class="col-sm-6 form-group">
          	<%= f.label :phone %>
          	<%= f.text_field :phone %>
          </div>

          <div class="col-sm-6 form-group">
          	<%= f.label :subject %>
          	<%= f.text_field :subject %>
          </div>

          <div>
          	<%= f.label :content %>
          	<%= f.text_area :content %>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
          	  <%= f.submit 'Send' , class:"btn pull-right" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  
</section>

<footer class="text-center">
  <a class="up-arrow" href="#myCarousel" data-toggle="tooltip" title="TO TOP">
    <i class="fa fa-2x fa-home" aria-hidden="true"></i>
  </a><br><br>
  <p>Julieth Cardona Ceballos</p>
</footer>

          

</body>
</html>


