


<body>
<header>

<div> <!--Barra de navegacion -->

 	<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container-fluid">
    	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      	<a class="navbar-brand" href="#">Saving Eco</a>
    	</div>
    	<div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-left">
		      <li><a href="#about">About</a></li>
		      <li><a href="#about">Team</a></li>
		      <li><a href="#">Products</a></li>
		      <li><a href="#">Community</a></li>
		      <li class="active"><a href="#contact">Contact</a></li>
    		</ul>
    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
	      <li><a href="#" class="btn btn-success navbar-btn btn-juli" data-toggle="modal" data-target="#ModalRegistration"><i class="fa fa-user-plus" aria-hidden="true"></i>
Sign up</a></li>
	      <li><a href="#" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in" aria-hidden="true"></i>
Login</a></li>
	  <% else %>
	 	 <li>
	 	 	<%= current_user.name %>
	 	 	<%= link_to "salir", destroy_user_session_path, method: :delete %>
	 	 </li>
	  	
      <% end %>
    </ul>
  	</div>
	</nav>
</div> <!--End Barra de navegacion -->


<div id="myCarousel" class="carousel slide" data-ride="carousel"> <!-- Carousel-->
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>

    <div class="item">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>

    <div class="item">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>

    <div class="item">
      <img class="img-carousel" src="<%= image_path('medellin.jpg')%>" alt="Chania">
    </div>
  </div>

  <!-- Left and right controls -->
  <div></div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <i class="fa fa-c fa-4x fa-caret-square-o-left" aria-hidden="true"></i>
  </a>

  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  	<i class="fa fa-c fa-4x fa-caret-square-o-right" aria-hidden="true"></i>
	</a>
	</div>
</div>

</header>

<!-- About Section
==================================================================-->

<section id="about" data-speed="6" data-type="background">
    <div class="container">
        About here!
    </div>
</section> <!-- About Section End -->

<!--Descubre Section
===================================================================-->

<section id="discover" data-speed="2" data-type="background">
    <div class="container">
        Dispositivo
    </div>
</section> <!-- Descubre Section End -->
	
		
	


<!-- Contact Section
==================================================================-->

<section id="contact" data-speed="4" data-type="background">
	<div class="container">

<h1>Welcome</h1>

<%= form_for @contact do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>

	<div>
		<%= f.label :subject %>
		<%= f.text_field :subject %>
	</div>

	<div>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>

	<div>
		<%= f.submit 'Send' %>
	</div>

	</div>

</section>
	
<% end %>
<% if user_signed_in? %>
	<%= link_to "Ir a mi perfil", current_user %>
<% end %>
</body>
</html>


