
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />

<body>
<header>

<div> <!--Barra de navegacion -->
 	<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    	<div class="navbar-header">
      	<a class="navbar-brand" href="#">Saving Eco</a>
    	</div>
    <ul class="nav navbar-nav">
      <li><a href="#about">About</a></li>
      <li><a href="#about">Team</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Community</a></li>
      <li class="active"><a href="#contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
	      <li><a href="#" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#ModalRegistration"><span class="glyphicon glyphicon-user"></span>Sign up</a></li>
	      <li><a href="#" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
	  <% else %>
	 	 <li>
	 	 	<%= current_user.name %>
	 	 	<%= link_to "salir", destroy_user_session_path, method: :delete %>
	 	 </li>
	  	
      <% end %>
    </ul>
  	</div>
	</nav>
</div> <!--End Barra de navegacion -->


	
</div> <!--End Carousel-->

</header>

<!-- About Section
==================================================================-->
	<section id="about">
		
	</section> <!-- About Section End -->


<!-- Contact Section
==================================================================-->

<section id="contact">

<h1>Welcome</h1>

<%= form_for @contact do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>

	<div>
		<%= f.label :subject %>
		<%= f.text_field :subject %>
	</div>

	<div>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>

	<div>
		<%= f.submit 'Send' %>
	</div>

	</section>
	
<% end %>
<% if user_signed_in? %>
	<%= link_to "Ir a mi perfil", current_user %>
<% end %>
</body>
</html>


