<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Author" content="Julieth Cardona C">
<meta name="Keywords" content="">
<meta name="Description" content="">

  <title>Saving Eco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<%= yield %>

<%= render partial: 'partials/login' %>
<%= render partial: 'partials/registration' %>

</body>
</html>
